#threshold-line {
  /* stroke-dasharray: 5; */
  stroke: #00000073;
  stroke-width: 2px;
  cursor: col-resize;
}

#container {
  /* background-color: #4548ff57; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

#my_dataviz {
  /* background-color: #ff45450e; */
  flex-grow: 4;
  width: 70%;
  /* position: absolute;
  left: 0;
  top: 0;
  width: 70%; */
}

#normal_plot {
  width: 100%;
  height: 100%;
}

#my_dataviz2 {
  display: inline;
  /* background-color: #45ff9933; */
  flex-grow: 4;
  width: 30%;
}