.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 8px;
}

.header {
  grid-area: header;
  background-color: aquamarine;
}
.leftSide {
  grid-area: leftSide;
  background-color: blueviolet;
}
.body {
  grid-area: body;
  background-color: blueviolet;
}
.rightSide {
  grid-area: rightSide;
  background-color: chartreuse;
}
.footer {
  grid-area: footer;
  background-color: coral;
}
