#threshold-line {
  /* stroke-dasharray: 5; */
  stroke: #00000073;
  stroke-width: 2px;
  cursor: col-resize;
}

#bayesian_separator {
  width: 100%;
  text-align: center;
}

body {
  background-color: antiquewhite;
  background-color: rgb(248, 240, 230);
  color: #181616;
  font-family: monospace;
}

input {
  font-family: monospace;
  width: 4em;
  margin-right: 1em;
}

h2 {
  margin: 0;
  text-align: center;
}

#inputs-container, #coefs-container {
  width: 40vw;
  display: inline;
  height: 20em;
}


table {
  display: inline;
}

th {
  padding-left: 1.4em;
  padding-right: 1.4em;
  border: 1px solid #dddddd;
}

td {
  text-align: center;
  border: 1px solid #dddddd;
}

#plots-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  align-items: baseline;
  align-content: space-around;
}

#normal_dist_div {
  width: fit-content;
}

#confusion_matrix_div {
  width: 20vw;
}