#threshold-line {
  /* stroke-dasharray: 5; */
  stroke: #00000073;
  stroke-width: 2px;
  cursor: col-resize;
}

#bayesian_separator {
  width: 100%;
  text-align: center;
}

#bayesian_separator h1 {
  margin-bottom: .15em;
  margin-bottom: 0em;
}

body {
  background-color: antiquewhite;
  background-color: rgb(248, 240, 230);
  color: #181616;
  font-family: monospace;
}

input {
  font-family: monospace;
  width: 4em;
  margin-right: 1em;
  background-color: white;
  color: #181616;
  /* border-radius: 3px; */
  border-style: solid;
  border-color: gray;
}

h2 {
  margin: 0;
  text-align: center;
}

#inputs_and_coefs_div {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  align-items: baseline;
  align-content: space-around;
}

#inputs-container {
  margin-bottom: auto;
  top: 0;
}

#coefs-container {
  margin-bottom: auto;
  top: 0;
}

th {
  
  background-color: #d3d3d3;
  border-color: gray !important;
  border-style: solid !important;
  border-width: 1px !important;
  cursor: help;
}

td {
  padding-left: 1.4em;
  padding-right: 1.4em;
  background-color: #ebebeb;
  border-color: gray !important;
  border-style: solid !important;
  border-width: 1px !important;
  padding-top: .2em;
  padding-bottom: .2em;
}

#plots-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  align-items: baseline;
  align-content: space-around;
}

#normal_dist_div {
  width: fit-content;
}

#confusion_matrix_div {
  width: 20vw;
}